.container {
    max-width: 100%;
    font-family: "Abel", sans-serif;
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        height: 28rem;
        background-image: url("../../assets/jd_image.jpg");
        background-position: 30rem;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        .header-top-content {
            display: flex;
            justify-content: flex-end;
            color: #fdde33;
            font-size: 1rem;
            margin: 2rem 2rem 0 0;
            .header-top-content-login {
                margin-right: 1rem;
                a {
                    color: #fdde33;
                }
                h2 {
                    border-right: 2px solid #fdde33;
                    padding-right: 1rem;
                }
            }
            a {
                color: #fdde33;
            }
        }
        .header-center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            p {
                color: #fdde33;
                font-size: 33px;
                letter-spacing: 0.3rem;
                text-align: center;
            }
            .header-button {
                color: #fdde33;
                font-size: 23px;
                padding: 0.5rem 4rem 0.5rem 4rem;
                margin-top: 2rem;
                border-radius: 1.8rem;
                border: 2px solid #fdde33;
            }
        }
    }
    .app-description {
        h2 {
            margin: 1rem 0 1rem 35rem;
            font-size: 2rem;
            color: #484848;
            justify-content: center;
            align-items: center;
        }
    }
    .team {
        display: flex;
        flex-direction: column;
        height: 24rem;
        h2 {
            margin: 1rem 0 1rem 35rem;
            font-size: 2rem;
            color: #484848;
            justify-content: center;
            align-items: center;
        }
        .team-three {
            display: flex;
            flex-direction: row;
            .member-info {
                flex-direction: column;
                height: 25rem;
                width: 15rem;
                margin: 1rem 3rem 1rem 2.7rem;
                .member {
                    position: relative;
                    height: 11rem;
                    width: 11rem;
                    border-radius: 50%;
                    overflow: hidden;
                    align-items: center;
                    box-shadow: 2px 2px 3px 2px rgba(168, 168, 168, 0.4);
                    img {
                        width: 11rem;
                    }
                }
                p {
                    text-align: center;
                    color: #7bc556;
                    font-size: 1rem;
                }
            }
        }
    }
    .contact-us {
        h2 {
            margin: 1rem 0 1rem 35rem;
            font-size: 2rem;
            color: #484848;
            justify-content: center;
            align-items: center;
        }
        .contact-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .names {
                display: flex;
                margin-bottom: 1rem;
            }
            .submit {
                color: white;
                padding: 0.3rem 4rem 0.3rem 4rem;
                border-radius: 0.8rem;
                margin-bottom: 2rem;
                background: linear-gradient(to right, #fdde33, #7bc556);
                h3 {
                    // margin: 1rem 0 1rem 35rem;
                    font-size: 1rem;
                    color: white;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}